@model Cts.csw.Models.TestCodeViewModel

@{
    ViewBag.Title = "TestCode";
}



<div class="col-md-12">
    <h2>TestCode</h2>
    <h4>TestCodeViewModel</h4>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group row">
                @Html.LabelFor(model => model.TheCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.TextAreaFor(model => model.TheCode, new { @class = "form-control", rows = 25, style="width:100%"})
                </div>
                @Html.ValidationMessageFor(model => model.TheCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group row">
                <div class="col-md-1">
                    <input type="submit" value="Go" class="btn btn-default" />
                </div>
            </div>
    }


    @if (Model.Results != null)
    {
        <h4>Results</h4>

        foreach (string result in Model.Results)
        {
            <b>@result</b><br />
        }
    }

    <div>
        @Html.ActionLink("Back Home", "Index")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
